<div id="loginTitle">
    <lh1>Student Personal Finance</lh1>
</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="style/login_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<form action="/login" method="POST">
    <body>        
        <div id="emailRow">
            <p class="usernameLogin">Username: </p>
            <input type="text" placeholder="Enter Username" name="username" id="username">
        </div>

        <div id="passwordRow">
            <p class="passwordLogin">Password: </p>
            <input type="text" placeholder="Enter Password" name="password" id="password">
        </div>

        <div id="button">
            <button class="button">Login</button>
        </div>
    </body>
</form>
<div id="signupHeader">
    <lh2>Don't have an account yet?</lh2>
    <lh2><a href="/signup"> Click Here!</a></lh2>
</div>
