<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup Page</title>
        <link rel="stylesheet" type="text/css" href="signup_style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div id="suTitle">
            <lh1>Sign Up</lh1>
        </div>

        <div id="emailRow">
            <p class="emailSignup">Email: </p>
            <form>
                <input type="text" placeholder="Enter Email" name="signupEmail">
            </form>
        </div>

        <div id="passwordRow">
            <p class="passwordSignup">Password: </p>
            <form>
                <input type="text" placeholder="Enter Password" name="signupPassword">
            </form>
        </div>
        <div id="confirmPassword">
            <p class="passwordSignup">Confirm Password: </p>
            <form>
                <input type="text" placeholder="Confirm Password" name="confirmPassword">
            </form>
        </div>

        <div id="button">
            <button class="button">Signup</button>
        </div>
    </body>
</html>
