<div id="suTitle">
    <lh1>Sign Up</lh1>
</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" type="text/css" href="style/signup_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<form action="/signup" method="POST">
    <body>
        <div id="emailRow">
            <p class="usernameSignup">Username: </p>
            <input type="text" placeholder="Enter Username" name="username" id="username" required>
        </div>

        <div id="passwordRow">
            <p class="passwordSignup">Password: </p>
            <input type="text" placeholder="Enter Password" name="password" id="password" required>
        <div id="button">
            <button class="submit">Signup</button>
        </div>
    </body>
</form>
<div id="signupHeader">
    <lh2><a href="/login">Login</a></lh2>
</div>