#title{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}
h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}
h3{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
#top{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}
#bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}

.Date{
    max-width: 500px;
    margin: auto;
}

.Amount{
    max-width: 500px;
    margin: auto;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}
.button{
    font-family: 'Courier New', Courier, monospace;
    background: slateblue;
    color: white;
    border-radius: 4px;
    font-size: 20px;
}