#title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 115px;
}
h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}
h3{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
#top{
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Date{
    float: left;
    margin-right: 50px;
}

.Amount{
    float: left;
    margin-left: 120px;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}
.button{
    background-color: blue;
    color: white;
    border-radius: 4px;
    font-size: 20px;
}